<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load staticfiles %}
{% load bets_extras %}
{% load common_extras %}
<html>
    <head>
	<link rel="stylesheet" type="text/css" href="{% static 'bets/normalize.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'bets/skeleton.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'bets/style.css' %}"/>
	<title>{{ container.description }}</title>
    </head>
    <body>
	<div class="container">
	    {% login_header request %}
	    <div class="row">
		<div class="twelve columns">
		    <h1>{{ container.description }}</h1>
		    <h3>Allowance: {{ container.allowance }}</h3>
		    <a href="/">Back to index</a></br></br>
		</div>
	    </div>
	    {% render_messages messages %}
	    <div class="row">
		<div class="twelve columns">
		    <form method="post">
			{% csrf_token %}
			{{ special_form }}
			<input type="submit" value="Add long term" class="button"/>
		    </form>
		</div>
	    </div>
	</div>
    </body>
</html>
