<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load staticfiles %}
{% load bets_extras %}
{% load common_extras %}
<html>
	<head>
	    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/redmond/jquery-ui.css"/>
	    <link rel="stylesheet" type="text/css" href="{% static 'common/normalize.css' %}"/>
	    <link rel="stylesheet" type="text/css" href="{% static 'common/skeleton.css' %}"/>
	    <link rel="stylesheet" type="text/css" href="{% static 'common/style.css' %}"/>
	    <title>Create gameweek</title>
	</head>
	<body>
		<div class="container">
			{% login_header request %}
			<div class="row">
				<div class="twelve columns">
					<h1>Add Gameweek</h1>
					<a href="/bets/{{ season_id }}/">Back to season</a></br></br>
				</div>
			</div>
			{% render_messages messages %}
			<div class="row">
				<div class="twelve columns">
					<form method="post">
					    {% csrf_token %}
					    <p class="date-picker">Deadline date: {{ form.deadline_date }}</p>
					    <p>Deadline time: {{ form.deadline_time }}</p>
					    <p>Spiel: {{ form.spiel }}</p>
					    {% for error in form.non_form_errors %}
					    <p>{{ error }}</p>
					    {% endfor %}
					    {% for error in game_formset.non_form_errors %}
					    <p>{{ error }}</p>
					    {% endfor %}
					    {{ game_formset.management_form }}
                        </br>
					    <table>
					        <thead>
					            <tr>
					            	<td></td>
					            	<td class="inputnumber">Home</td>
					            	<td class="inputnumber">Draw</td>
					            	<td class="inputnumber">Away</td>
					            	<td></td>
					            </tr>
					        </thead>
					        <tbody>
					        {% for game_form in game_formset.forms %}
					        <tr class="game-formset">
					            <td>{{ game_form.hometeam }}</td>
					            <td class="inputnumber">{{ game_form.homenumerator }}/{{ game_form.homedenominator }}</td>
					            <td class="inputnumber">{{ game_form.drawnumerator }}/{{ game_form.drawdenominator }}</td>
					            <td class="inputnumber">{{ game_form.awaynumerator }}/{{ game_form.awaydenominator }}</td>
					            <td>{{ game_form.awayteam }}</td>
					            <td></td>
					        </tr>
					        {% endfor %}
					        </tbody>
					    </table>
                        </br>
					    <input type="submit" value="Add Gameweek" class="button"/>
					</form>
				</div>
			</div>
		</div>
	</body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'common/js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.game-formset').formset({
                addText: 'Add game',
                deleteText: 'Remove'
        });
        $(function(){
            $("#id_deadline_date").datepicker();
        });
    </script>
</html>
