{% extends "base.html" %}

{% load bets_extras %}
{% load common_extras %}

{% block title %}Create Season{% endblock %}

{% block content %}
<div class="row">
	<div class="twelve columns">
		<h1>Create Season</h1>
		<a href="{% url 'index' %}">Back to index</a></br></br>
	</div>
</div>
{% render_messages messages %}
<div class="row">
	<div class="twelve columns">
		<form method="post">
			{% csrf_token %}
			<table>
			<tr><td>Name</td><td>{{ form.name }}</td></tr>
			<tr><td>Weekly Allowance</td><td>{{ form.weekly_allowance }}</td></tr>
			</table>
			</br>
			</br>
			<input type="submit" value="Add Season" class="button"/>
		</form>
	</div>
</div>
{% endblock %}
