{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bets/normalize.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'bets/skeleton.css' %}"/>
{% if bet_container %}
    <h1>Manage Bets</h1>
    <a href="/bets/gameweek/{{ bet_container.gameweek.id }}/">Back to gameweek</a></br></br>
    <h3>Weekly allowance: {{ bet_container.get_allowance }}</h3>
    <table>
        <thead><tr><th>Stake</th><th>Game</th><th>Result</th><th></th></tr></thead>
    <tbody>
    {% for accumulator in bet_container.accumulator_set.all %}
        <tr>
            <td rowspan="{{ accumulator.betpart_set.all|length }}">{{ accumulator.stake }}</td>
            {% for betpart in accumulator.betpart_set.all %}
                <td>{{ betpart.game }}</td>
                <td>{{ betpart.result }}</td>
            </tr>
            <tr>
        {% endfor %}
        </tr>
        <tr><td></td><td></td><td><a href="/bets/bets/{{ accumulator.id }}/update_bet">Change bet</a></td></tr>
    {% endfor %}
    </tbody>
    </table>
    </br></br>
    <h3>Total stake used: {{ bet_container.get_allowance_used }}</h3>
    <a href="/bets/bets/{{ bet_container.id }}/add_bet/">Add bet</a></br>
{% endif %}
