{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bets/normalize.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'bets/skeleton.css' %}"/>
{% if bet_container %}
    <h1>Manage Bets</h1>
    <a href="/bets/gameweek/{{ bet_container.gameweek.id }}/">Back to gameweek</a></br>
    <table>
        <tr><th>Game</th><th>Result</th><th></th></tr>
    {% for accumulator in bet_container.accumulator_set.all %}
        {% for betpart in accumulator.betpart_set.all %}
        <tr><td>{{ betpart.game }}</td><td>{{ betpart.result }}</td><td></td></tr>
        {% endfor %}
        <tr><td></td><td></td><td><a href="/bets/bets/{{ accumulator.id }}/update_bet">Change bet</a></td></tr>
    {% endfor %}
    </table>
    <a href="/bets/bets/{{ bet_container.id }}/add_bet/">Add bet</a></br>
{% endif %}
