{% load static %}
{% load bets_extras %}
<html>
	<head>
	    <link rel="stylesheet" type="text/css" href="{% static 'bets/normalize.css' %}"/>
	    <link rel="stylesheet" type="text/css" href="{% static 'bets/skeleton.css' %}"/>
	</head>
	<body>
		<div class="container">
		    {% login_header request %}
			<div class="row">
				<div class="twelve columns">
					<h1>Add Bet</h1>
					<a href="/bets/bets/{{ bet_container_id }}/my_bets/">Back to bets</a>
				</div>
			</div>
			<div class="row">
				<div class="twelve columns">
					{% if messages %}
					    {% for message in messages %}
					        <p>{{ message }}</p>
					    {% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="twelve columns">
					<form method="post">
					    {% csrf_token %}
					    {{ accumulator_form.as_p }}
					    {% for error in accumulator_form.non_form_errors %}
					    <p>{{ error }}</p>
					    {% endfor %}
					    <table>
					        <thead>
					            <tr>
					            	<td>Game</td>
					            	<td>Result</td>
					            </tr>
					        </thead>
					        <tbody>
						        {% for betpart_form in betpart_formset.forms %}
						        <tr class="betpart-formset">
						            <td>{{ betpart_form.game }}</td>
						            <td>{{ betpart_form.result }}</td>
						            <td></td>
						        </tr>
						        {% endfor %}
					        </tbody>
					    </table>
					    {% for error in betpart_formset.non_form_errors %}
					    <p>{{ error }}</p>
					    {% endfor %}
					    {{ betpart_formset.management_form }}
					    <input type="submit" value="Add Bet" class="button"/>
					</form>
				</div>
			</div>
		</div>
	</body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.betpart-formset').formset({
                addText: 'Add game',
                deleteText: 'Remove'
        });
    </script>
</html>