{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bets/normalize.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'bets/skeleton.css' %}"/>
<h1>Add new gameweek</h1>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <table id="id_games_table">
        <thead>
            <tr><td></td><td>Home</td><td>Draw</td><td>Away</td><td></td>
            </tr>
        </thead>
        <tbody>
        {% for game_form in game_set.forms %}
        <tr><td>{{ game_form.hometeam }}</td>
                <td>{{ game_form.homenumerator }}/{{ game_form.homedenominator }}</td>
                <td>{{ game_form.drawnumerator }}/{{ game_form.drawdenominator }}</td>
                <td>{{ game_form.awaynumerator }}/{{ game_form.awaydenominator }}</td>
                <td>{{ game_form.awayteam }}</td><td>{{ game_form.DELETE }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ game_set.management_form }}
    <input type="submit" name="add_game" value="Add another game" /></br>
    <input type="submit"/>
</form>
