<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
{% load auth_extras %}
{% load bets_extras %}
{% load wagtailcore_tags %}
<html>
    <head>
	<link rel="stylesheet" type="text/css" href="{% static 'bets/normalize.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'bets/skeleton.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'bets/style.css' %}"/>
	<title>Gameweek {{ gameweek.number }}</title>
    </head>
    <body>
	<div class="container">
	    {% if gameweek %}
	    {% login_header request %}
	    <div class="row">
		<div class="twelve columns">
		    <h1>{% if not gameweek.is_first_gameweek %}<a href="/bets/gameweek/{{ gameweek.get_prev_gameweek.id }}/">&lt;</a> {% endif %}Gameweek {{ gameweek.number }}{% if not gameweek.is_latest_gameweek %} <a href="/bets/gameweek/{{ gameweek.get_next_gameweek.id }}/">&gt;</a>{% endif %}</h1>
		    <table>
			<tr><td><a href="/bets/{{ gameweek.season.id }}">Back to season</a></td></tr>
			{% if not gameweek.deadline_passed %}
			<tr><td><a href="/bets/gameweek/{{ gameweek.id }}/manage_bet_container/">Manage bets</a></td></tr>
			{% endif %}
			{% if request.user == gameweek.season.commissioner and gameweek.is_latest_gameweek %}
			<tr><td><a href="/bets/gameweek/{{ gameweek.id }}/update/">Update gameweek</a></td></tr>
			{% if gameweek.deadline_passed %}
			<tr><td><a href="/bets/gameweek/{{ gameweek.id }}/add_results/">Add results</a></td></tr>
			{% endif %}
			{% endif %}
		    </table>
		</div>
	    </div>
	    {% render_messages messages %}
	    <div class="row">
		<div class="twelve columns">
		    <h2>Deadline: {{ gameweek.deadline_date }}, {{ gameweek.deadline_time }}</h2>
		</div>
	    </div>
	    {% if gameweek.spiel %}
	    <div class="row">
		<div class="two columns"><p></p></div>
		<div class="eight columns"><p>{{ gameweek.spiel }}</p></div>
		<div class="two columns"><p></p></div>
	    </div>
	    {% endif %}
	    {% if not gameweek.deadline_passed %}
	    <div class="row">
		<div class="twelve columns">
		    <p>Valid bets submitted by: {{ gameweek.get_users_with_ready_bets_as_string }}</p>
		</div>
	    </div>
	    {% endif %}
	    {% gameweek_odds gameweek %}
	    {% if gameweek.results_complete %}
	    <div class="row">
		<div class="twelve columns">
		    <h2>Results</h2>
		</div>
	    </div>
	    {% user_balances gameweek %}
	    {% elif gameweek.number > 1 %}
	    <div class="row">
		<div class="twelve columns">
		    <h2>Rollable</h2>
		</div>
	    </div>
	    <div class="row">
		<div class="twelve columns">
		    <table>
			{% for user,rollable in gameweek.get_rollable_allowances.items %}
			<tr>
			    <td>{{ user }}</td>
			    <td>{{ rollable }}</td>
			</tr>
			{% endfor %}
		    </table>
		</div>
	    </div>
	    {% endif %}
	    {% if user.is_authenticated %}
	    <div class="row">
		<div class="twelve columns">
		    {% for betcontainer in gameweek.betcontainer_set.all %}
		    {% if user == betcontainer.owner %}
		    <h2>My bets</h2>
		    <table>
			<thead>
			    <tr>
				<th>Stake</th>
				<th>Game</th>
				<th>Result</th>
			    </tr>
			</thead>
			{% for accumulator in betcontainer.accumulator_set.all %}
			<tbody>
			    <tr>
				<td rowspan="{{ accumulator.betpart_set.all|length }}">{{ accumulator.stake }}</td>
				{% for betpart in accumulator.betpart_set.all %}
				{% if forloop.last %}
				<td>{{ betpart.game }}</td>
				<td>{{ betpart.result }}</td>
				{% else %}
				<td>{{ betpart.game }}</td>
				<td>{{ betpart.result }}</td>
			    </tr>
			    <tr>
				{% endif %}
				{% endfor %}
			    </tr>
			</tbody>
			{% endfor %}
		    </table>
		    {% endif %}
		    {% endfor %}
		</div>
	    </div>
	    {% if gameweek.deadline_passed %}
	    <div class="row">
		<div class="twelve columns">
		    <h2>Other bets</h2>
		</div>
	    </div>
	    <div class="row">
		<div class="twelve columns">
		    <table>
			<thead>
			    <tr>
				<th></th>
				<th>Stake</th>
				<th>Game</th>
				<th>Result</th>
			    </tr>
			</thead>
			<tbody>
			    {% for betcontainer in gameweek.betcontainer_set.all %}
			    {% if user != betcontainer.owner %}
			    <tr>
				<td rowspan="{{ betcontainer.get_game_count }}">{{ betcontainer.owner.username }}</td>
				{% for accumulator in betcontainer.accumulator_set.all %}
				<td rowspan="{{ accumulator.betpart_set.all|length }}">{{ accumulator.stake }}</td>
				{% for betpart in accumulator.betpart_set.all %}
				<td>{{ betpart.game }}</td>
				<td>{{ betpart.result }}
				    {% if forloop.last %}
				</td>
				{% else %}
				</td>
			    </tr>
			    <tr>
				{% endif %}
				{% endfor %}
				{% if forloop.last %}
			    </tr>
			    {% else %}
			    </tr>
			    <tr>
				{% endif %}
				{% endfor %}
				{% endif %}
				{% endfor %}
			</tbody>
		    </table>
		    {% endif %}
		    {% endif %}
		</div>
	    </div>
	    {% endif %}
	</div>
    </body>
</html>
