{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bets/normalize.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'bets/skeleton.css' %}"/>
{% load wagtailcore_tags %}
{% if gameweek %}
    <h1>Gameweek {{ gameweek.number }}</h1>
    <h2>Deadline: {{ gameweek.deadline }}</h2>
    <table><tr><th></th><th>Home</th><th>Draw</th><th>Away</th><th></th><th>Result</th></tr>
    {% for game in gameweek.game_set.all %}
        <tr>
        <td>{{ game.hometeam }}</td>
        <td>{{ game.homenumerator }}/{{ game.homedenominator }}</td>
        <td>{{ game.drawnumerator }}/{{ game.drawdenominator }}</td>
        <td>{{ game.awaynumerator }}/{{ game.awaydenominator }}</td>
        <td>{{ game.awayteam }}</td>
        <td>{{ game.get_result }}</td>
        </tr>
    {% endfor %}
    </table>
    {% if gameweek.results_complete %}
        </br></br>
        <h2>Results</h2>
        <table>
        <tr><th></th><th>This week</th><th>Provisional</th><th>Banked</th></tr>
        {% for k,v in gameweek.calculate_season_winnings.items %}
            <tr><td>{{ k }}</td><td>{{ v.Week }}</td><td>{{ v.Provisional }}</td><td>{{ v.Banked }}</td></tr>
        {% endfor %}
        </table>
    {% endif %}
    </br></br>
    {% if user.is_authenticated %}
        <h2>My bets</h2>
        {% for bet in gameweek.bet_set.all %}
            {% if user == bet.owner %}
                {% for bets_list in bet.bets %}
                    <table>
                    <thead><tr><th>Stake</th><th>Results</th></tr></thead>
                    {% for bet_portion in bets_list.value %}
                        <tbody>
                        <tr><td rowspan="{{ bet_portion.gameresults|length }}">{% include_block bet_portion.stake %}</td>
                        {% for gameresult in bet_portion.gameresults %}
                            {% if forloop.last %}
                                <td>{% include_block gameresult.game %} - {% include_block gameresult.result %}</td>
                            {% else %}
                                <td>{% include_block gameresult.game %} - {% include_block gameresult.result %}</td></tr><tr>
                            {% endif %}
                        {% endfor %}
                        </tr>
                        </tbody>
                    {% endfor %}
                    </table>
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% if gameweek.deadline_passed %}
        </br></br>
            <h2>Other bets</h2>
            <table><thead><tr><th></th><th>Stake</th><th>Result</th></tr></thead>
            <tbody>
            {% for bet in gameweek.bet_set.all %}
                {% if user != bet.owner %}
                <tr><td rowspan="{{ bet.get_game_count }}">{{ bet.owner.username }}</td>
                    {% for bets_list in bet.bets %}
                        {% for bet_portion in bets_list.value %}
                        <td rowspan="{{ bet_portion.gameresults|length }}">{% include_block bet_portion.stake %}</td>
                            {% for gameresult in bet_portion.gameresults %}
                                <td>{% include_block gameresult.game %} - {% include_block gameresult.result %}
                                {% if forloop.last %}
                                    </td>
                                {% else %}
                                    </td></tr><tr>
                                {% endif %}
                            {% endfor %}
                            {% if forloop.last %}
                                </tr>
                            {% else %}
                                </tr><tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tbody></table>
        {% endif %}
    {% else %}
    <a href="/admin/login/?next={{ request.path }}">Log in?</a>
    {% endif %}
</br></br>
<a href="/bets/{{ gameweek.season.id }}/">Back to season</a>
{% else %}
    <p>No data available.</p>
{% endif %}
