{% load static %}
{% load auth_extras %}
<link rel="stylesheet" type="text/css" href="{% static 'bets/normalize.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'bets/skeleton.css' %}"/>
{% load wagtailcore_tags %}
{% if gameweek %}
    <h1>Gameweek {{ gameweek.number }}</h1>
    <h2>Deadline: {{ gameweek.deadline }}</h2>
    {% if request.user|has_group:"Commissioners" %}
        {% if gameweek.deadline_passed %}
            <a href="/bets/gameweek/{{ gameweek.id }}/add_results/">Add results</a></br>
        {% else %}
            <a href="/bets/gameweek/{{ gameweek.id }}/update/">Update gameweek</a></br>
        {% endif %}
    {% endif %}
    <table><tr><th></th><th>Home</th><th>Draw</th><th>Away</th><th></th><th>Result</th></tr>
    {% for game in gameweek.game_set.all %}
        <tr>
        <td>{{ game.hometeam }}</td>
        <td>{{ game.homenumerator }}/{{ game.homedenominator }}</td>
        <td>{{ game.drawnumerator }}/{{ game.drawdenominator }}</td>
        <td>{{ game.awaynumerator }}/{{ game.awaydenominator }}</td>
        <td>{{ game.awayteam }}</td>
        <td>{{ game.get_result }}</td>
        </tr>
    {% endfor %}
    </table>
    {% if gameweek.results_complete %}
        </br></br>
        <h2>Results</h2>
        <table>
        <tr><th></th><th>This week</th><th>Provisional</th><th>Banked</th></tr>
        {% for betcontainer in gameweek.betcontainer_set.all %}
            <tr><td>{{ betcontainer.owner }}</td>
                <td>{{ betcontainer.get_balance.week }}</td>
                <td>{{ betcontainer.get_balance.provisional }}</td>
                <td>{{ betcontainer.get_balance.banked }}</td></tr>
        {% endfor %}
        </table>
    {% endif %}
    </br></br>
    {% if user.is_authenticated %}
        <h2>My bets</h2>
        {% if not gameweek.deadline_passed %}
            <a href="/bets/gameweek/{{ gameweek.id }}/manage_bet_container/">Manage bets</a>
        {% endif %}
        {% for betcontainer in gameweek.betcontainer_set.all %}
            {% if user == betcontainer.owner %}
                    <table>
                        <thead><tr><th>Stake</th><th>Game</th><th>Result</th></tr></thead>
                    {% for accumulator in betcontainer.accumulator_set.all %}
                        <tbody>
                        <tr><td rowspan="{{ accumulator.betpart_set.all|length }}">{{ accumulator.stake }}</td>
                        {% for betpart in accumulator.betpart_set.all %}
                            {% if forloop.last %}
                            <td>{{ betpart.game }}</td><td>{{ betpart.result }}</td>
                            {% else %}
                            <td>{{ betpart.game }}</td><td>{{ betpart.result }}</td></tr><tr>
                            {% endif %}
                        {% endfor %}
                        </tr>
                        </tbody>
                    {% endfor %}
                    </table>
            {% endif %}
        {% endfor %}
        {% if gameweek.deadline_passed %}
        </br></br>
            <h2>Other bets</h2>
            <table><thead><tr><th></th><th>Stake</th><th>Game</th><th>Result</th></tr></thead>
            <tbody>
            {% for betcontainer in gameweek.betcontainer_set.all %}
                {% if user != betcontainer.owner %}
                <tr><td rowspan="{{ betcontainer.get_game_count }}">{{ betcontainer.owner.username }}</td>
                    {% for accumulator in betcontainer.accumulator_set.all %}
                    <td rowspan="{{ accumulator.betpart_set.all|length }}">{{ accumulator.stake }}</td>
                            {% for betpart in accumulator.betpart_set.all %}
                            <td>{{ betpart.game }}</td><td>{{ betpart.result }}
                                {% if forloop.last %}
                                    </td>
                                {% else %}
                                    </td></tr><tr>
                                {% endif %}
                            {% endfor %}
                            {% if forloop.last %}
                                </tr>
                            {% else %}
                                </tr><tr>
                            {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tbody></table>
        {% endif %}
    {% else %}
    <a href="/admin/login/?next={{ request.path }}">Log in?</a>
    {% endif %}
</br></br>
<a href="/bets/{{ gameweek.season.id }}/">Back to season</a>
{% else %}
    <p>No data available.</p>
{% endif %}
