<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
{% load bets_extras %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'bets/normalize.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'bets/skeleton.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'bets/style.css' %}"/>
		<title>FGL</title>
	</head>
	<body>
		<div class="container">
		    {% login_header request %}
		<div class="row">
		    <div class="twelve columns">
		        <h1>Welcome to Calton Walk FGL</h1>
		        <h3>Concept; Liam's uncle</h3>
		        <h3>Website; Ollie Lang</h3>
		    </div>
		</div>
		<div class="row">
		    <div class="twelve columns">
		{% if season_list %}
		    <ul>
		    {% for season in season_list %}
		        <li><a href="/bets/{{ season.id }}/">{{ season }}</a></li>
		    {% endfor %}
		    </ul>
		{% else %}
		    <p>No data available.</p>
		{% endif %}
		    </div>
		</div>
	</body>
</html>
