<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
{% load bets_extras %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'bets/normalize.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'bets/skeleton.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'bets/style.css' %}"/>
		<title>FGL</title>
	</head>
	<body>
		<div class="container">
		    {% login_header request %}
		<div class="row">
		    <div class="twelve columns">
		        <h1>Welcome to Calton Walk FGL</h1>
			<p><h5>What is a FGL?</h5> Fantasy Gambling League is a game conceived by an uncle of 
			Liam Woulfe and adopted by the ex-residents of Calton Walk. Each week, the Commissioner 
			will publish odds on a group of Premier League games. Punters get a 'fantasy' allowance 
			to bet on those games as they see fit. Once results are in, winnings are calculated and the 
			league table is updated.</p>
			</br>
			</br>
			<p><h5>How do I play?</h5> You'll first need an account. Only way to register at the
			moment is to ask Ollie to get you set up.</p>
			</br>
			</br>
			<p><h5>What is a Commissioner?</h5> The Commissioner is responsible for creating and
			maintaining the season. Season creation can be actioned using the link below. Once a
			season has been created and players have joined, the Commissioner may begin populating
			gameweek odds.</p>
			</br>
			</br>
		    </div>
		</div>
		<div class="row">
		    <div class="twelve columns">
		{% if season_list %}
		    <ul>
		    {% for season in season_list %}
		        <li><a href="/bets/{{ season.id }}/">{{ season }}</a></li>
		    {% endfor %}
		    </ul>
		{% else %}
		    <p>No data available.</p>
		{% endif %}
		    </div>
		    <div class="twelve columns">
			    <p><a href="/bets/create_season">Create new season</a></p>
		    </div>
		</div>
	</body>
</html>
