{% extends "base.html" %}

{% load staticfiles %}
{% load bets_extras %}
{% load common_extras %}

{% block title %}{{ container.description }}{% endblock %}

{% block content %}
<div class="row">
	<div class="twelve columns">
		<h1>{{ container.description }}</h1>
		<h3>Allowance: {{ container.allowance }}</h3>
		<a href="/">Back to index</a></br></br>
	</div>
</div>
{% render_messages messages %}
<div class="row">
	<div class="twelve columns">
		<form method="post">
		{% csrf_token %}
		{{ special_form }}
		<input type="submit" value="Add long term" class="button"/>
		</form>
	</div>
	</div>
</div>
{% endblock %}