{% extends "base.html" %}

{% load staticfiles %}
{% load bets_extras %}
{% load common_extras %}

{% block title %}{{ long_special_container.description }}{% endblock %}

{% block content %}
<div class="row">
	<div class="twelve columns">
		<h1>{{ long_special_container.description }}</h1>
		<h3>Allowance: {{ long_special_container.allowance }}</h3>
		<a href="{% url 'update-bet-container' bet_container.id %}">Back to bets</a></br></br>
	</div>
</div>
{% render_messages messages %}
<div class="row">
	<div class="twelve columns">
		<form method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="Add long term" class="button"/>
		</form>
	</div>
	</div>
</div>
{% endblock %}